*.o
*.d
*.raw
qemu-nosso/roms/seabios/
qemu-nosso/roms/vgabios/
qemu-original/roms/seabios/
qemu-original/roms/vgabios/

qemu-bona/config-all-devices.mak
qemu-bona/config-all-disas.mak
*.o
*.d
*.raw
qemu-nosso/roms/seabios/
qemu-nosso/roms/vgabios/
qemu-original/roms/seabios/
qemu-original/roms/vgabios/

qemu-bona/config-all-devices.mak
qemu-bona/config-all-disas.mak
qemu-bona/config-host.mak
qemu-bona/config.log
qemu-bona/linux-headers/asm
qemu-bona/qemu-img-cmds.texi
qemu-bona/qemu-monitor.texi
qemu-bona/qemu-options.texi
qemu-bona/roms/seabios/config.mak
qemu-bona/roms/vgabios/config.mak
qemu-bona/scripts/ordereddict.pyc
qemu-bona/scripts/qapi.pyc
qemu-bona/scripts/tracetool/__init__.pyc
qemu-bona/scripts/tracetool/backend/__init__.pyc
qemu-bona/scripts/tracetool/backend/dtrace.pyc
qemu-bona/scripts/tracetool/backend/events.pyc
qemu-bona/scripts/tracetool/format/__init__.pyc
qemu-bona/scripts/tracetool/format/c.pyc
qemu-bona/scripts/tracetool/format/events_c.pyc
qemu-bona/scripts/tracetool/format/events_h.pyc
qemu-bona/scripts/tracetool/format/h.pyc
qemu-bona/x86_64-softmmu/Makefile
qemu-bona/x86_64-softmmu/config-devices.mak
qemu-bona/x86_64-softmmu/config-devices.mak.old
qemu-bona/x86_64-softmmu/config-target.h
qemu-bona/x86_64-softmmu/config-target.h-timestamp
qemu-bona/x86_64-softmmu/config-target.mak
qemu-bona/config-host.h
qemu-bona/config-host.h-timestamp
qemu-bona/libqemustub.a
qemu-bona/libqemuutil.a
qemu-bona/pc-bios/optionrom/kvmvapic.bin
qemu-bona/pc-bios/optionrom/kvmvapic.img
qemu-bona/pc-bios/optionrom/linuxboot.bin
qemu-bona/pc-bios/optionrom/linuxboot.img
qemu-bona/pc-bios/optionrom/multiboot.bin
qemu-bona/pc-bios/optionrom/multiboot.img
qemu-bona/qapi-types.c
qemu-bona/qapi-types.h
qemu-bona/qapi-visit.c
qemu-bona/qapi-visit.h
qemu-bona/qemu-bridge-helper
qemu-bona/qemu-ga
qemu-bona/qemu-img
qemu-bona/qemu-img-cmds.h
qemu-bona/qemu-io
qemu-bona/qemu-nbd
qemu-bona/qemu-options.def
qemu-bona/qga/qapi-generated/
qemu-bona/qmp-commands.h
qemu-bona/qmp-marshal.c
qemu-bona/trace/generated-events.c
qemu-bona/trace/generated-events.c-timestamp
qemu-bona/trace/generated-events.h
qemu-bona/trace/generated-events.h-timestamp
qemu-bona/trace/generated-tracers.c
qemu-bona/trace/generated-tracers.c-timestamp
qemu-bona/trace/generated-tracers.h
qemu-bona/trace/generated-tracers.h-timestamp
qemu-bona/x86_64-softmmu/
kvm.log
qemu-bona/.cproject
qemu-bona/.project

