*~
*.[1-9]
*.a
*.aux
*.cp
*.dvi
*.exe
*.dll
*.so
*.mo
*.fn
*.ky
*.log
*.pdf
*.pod
*.cps
*.fns
*.kys
*.pg
*.pyc
*.toc
*.tp
*.vr
*.d
*.o
*.lo
*.la
*.pc
.libs
.sdk
*.gcda
*.gcno
.stgit-*
cscope.*
tags
TAGS
!/scripts/qemu-guest-agent/fsfreeze-hook.d
.settings
pixman/
config-temp
qemu/x86_64-softmmu/
qemu/config-devices.*
qemu/config-all-devices.*
qemu/config-all-disas.*
qemu/config-host.*
qemu/config-target.*
qemu/config.status
qemu/config-temp
qemu/trace/generated-tracers.h
qemu/trace/generated-tracers.c
qemu/trace/generated-tracers-dtrace.h
qemu/trace/generated-tracers.dtrace
qemu/trace/generated-events.h
qemu/trace/generated-events.c
qemu/trace/generated-helpers-wrappers.h
qemu/trace/generated-helpers.h
qemu/trace/generated-helpers.c
qemu/trace/generated-tcg-tracers.h
qemu/trace/generated-ust-provider.h
qemu/trace/generated-ust.c
qemu/libcacard/trace/generated-tracers.c
qemu/qga/qapi-generated
qemu/qapi-generated
qemu/qapi-types.[ch]
qemu/qapi-visit.[ch]
qemu/qapi-event.[ch]
qemu/qmp-commands.h
qemu/qmp-marshal.c
qemu/qemu-doc.html
qemu/qemu-tech.html
qemu/qemu-doc.info
qemu/qemu-tech.info
qemu/qemu-img
qemu/qemu-nbd
qemu/qemu-options.def
qemu/qemu-options.texi
qemu/qemu-img-cmds.texi
qemu/qemu-img-cmds.h
qemu/qemu-io
qemu/qemu-ga
qemu/qemu-bridge-helper
qemu/qemu-monitor.texi
qemu/qmp-commands.txt
qemu/vscclient
qemu/fsdev/virtfs-proxy-helper
qemu/pc-bios/bios-pq/status
qemu/pc-bios/vgabios-pq/status
qemu/pc-bios/optionrom/linuxboot.asm
qemu/pc-bios/optionrom/linuxboot.bin
qemu/pc-bios/optionrom/linuxboot.raw
qemu/pc-bios/optionrom/linuxboot.img
qemu/pc-bios/optionrom/multiboot.asm
qemu/pc-bios/optionrom/multiboot.bin
qemu/pc-bios/optionrom/multiboot.raw
qemu/pc-bios/optionrom/multiboot.img
qemu/pc-bios/optionrom/kvmvapic.asm
qemu/pc-bios/optionrom/kvmvapic.bin
qemu/pc-bios/optionrom/kvmvapic.raw
qemu/pc-bios/optionrom/kvmvapic.img
qemu/pc-bios/s390-ccw/s390-ccw.elf
qemu/pc-bios/s390-ccw/s390-ccw.img
qemu/ivshmem-client
qemu/ivshmem-server
qemu/linux-headers/asm
qemu/qmp-introspect.c
qemu/qmp-introspect.h
qemu/roms/seabios/config.mak
qemu/roms/vgabios/config.mak
qemu/trace/generated-events.c-timestamp
qemu/trace/generated-events.h-timestamp
qemu/trace/generated-helpers-wrappers.h-timestamp
qemu/trace/generated-helpers.h-timestamp
qemu/trace/generated-tcg-tracers.h-timestamp
qemu/trace/generated-tracers.h-timestamp
