*.o
*.d
*.raw
*.qcow2
kernel-*
vmlinuz-*
bzImage*
*.o
*.d
*.raw
utils/
trace-[0-9]*
qmp-introspect.?
config-all-devices.mak
config-all-disas.mak
config-all-devices.mak
config-all-disas.mak
config-host.mak
config.log
linux-headers/asm
qemu-img-cmds.texi
qemu-monitor.texi
qemu-options.texi
roms/seabios/config.mak
roms/vgabios/config.mak
scripts/ordereddict.pyc
scripts/qapi.pyc
scripts/tracetool/__init__.pyc
scripts/tracetool/backend/__init__.pyc
scripts/tracetool/backend/dtrace.pyc
scripts/tracetool/backend/events.pyc
scripts/tracetool/format/__init__.pyc
scripts/tracetool/format/c.pyc
scripts/tracetool/format/events_c.pyc
scripts/tracetool/format/events_h.pyc
scripts/tracetool/format/h.pyc
x86_64-softmmu/Makefile
x86_64-softmmu/config-devices.mak
x86_64-softmmu/config-devices.mak.old
x86_64-softmmu/config-target.h
x86_64-softmmu/config-target.h-timestamp
x86_64-softmmu/config-target.mak
config-host.h
config-host.h-timestamp
libqemustub.a
libqemuutil.a
pc-bios/optionrom/kvmvapic.bin
pc-bios/optionrom/kvmvapic.img
pc-bios/optionrom/linuxboot.bin
pc-bios/optionrom/linuxboot.img
pc-bios/optionrom/multiboot.bin
pc-bios/optionrom/multiboot.img
qapi-types.c
qapi-types.h
qapi-visit.c
qapi-visit.h
qemu-bridge-helper
qemu-ga
qemu-img
qemu-img-cmds.h
qemu-io
qemu-nbd
qemu-options.def
qga/qapi-generated/
qmp-commands.h
qmp-marshal.c
trace/generated-events.c
trace/generated-events.c-timestamp
trace/generated-events.h
trace/generated-events.h-timestamp
trace/generated-tracers.c
trace/generated-tracers.c-timestamp
trace/generated-tracers.h
trace/generated-tracers.h-timestamp
x86_64-softmmu/
*.log
.cproject
.project

.fuse*
Debug/
